.card{
    margin-bottom: 20px ;
};
.navbar{
    text-align: center ;
};
footer span {
    text-align: center ;

}
form .signup {
    text-align: right ;
}
body{
background-color: aqua ;

}
.form-recovery{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 50vh;
}
