.card{
    margin-bottom: 20px ;
};
.navbar{
    text-align: center ;
};
footer span {
    text-align: center ;

}

#CardImg{
  max-width: 50%;
  height: auto;
}
.main{
background-image: url('https://bookabikia.com/images/bg.gif')
}
.form-recovery{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 50vh;
  text-align: center;
}

.bookimg{
  border: solid rgb(0, 0, 0) 1px;
  margin: 10px 20px;
  padding: 2px;
  border-radius: 10%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;

}
.bookimg:hover {
  border-radius: 50%;
}
.remove-btn {
  margin-right: 0.5rem;
}
.fade-enter {
    opacity: 0.01;
  }
  .fade-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
  }
  .fade-exit {
    opacity: 1;
  }
  .fade-exit-active {
    opacity: 0.01;
    transition: opacity 500ms ease-in;
  }

.div-loader{
  position: absolute;
  top: 41%;
  left: 43%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
